name: Specs

on:
  push:

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        ruby: ['3.2', '3.3', '3.4' ]
        sentry: ['~> 4.9', '~> 5.7', '']
    name: Ruby ${{ matrix.ruby }}, Sentry ${{ matrix.sentry }}
    env:
      SENTRY_VERSION: ${{ matrix.sentry }}

    steps:
      - uses: actions/checkout@v3
      - name: Set up ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
      - name: Install dependencies
        run: bundle install
      - name: Specs
        run: bundle exec rake spec
